<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
        <meta name="viewport" content="width-device-width, initial-scala=1.0"/>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="style.css"/>
        <title>Calculadora</title>
    </head>
    <body>
        <div id="app">
            <div class="Calculadora">
                    <div class="tela">
                        {{display}} 
                    </div>
                    <div class="botao">
                        
                    </div>
            </div><!--Fechamentoda div "calculadora"-->
        </div><!--Fechamento div id="app"-->
        <script src="process.js"></script>
    </body>
</html>