.Calculadora {
    position: fixed;
    top:50%;
    left:50%;
    /*background-color: blueviolet;*/
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(7,86,128),rgb(171, 167, 167));
    border: 1px solid #ccc;
    border-radius:4px;
    padding:20px ;
}/*Fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:3rem;
    width: 93%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #000000;  
    padding: 10px;
    border-radius: 4px;
    background-color: #f1f1f1;
    color:black
}
.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linhas{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}